* {
  box-sizing: border-box;
}

.block {
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  border: 0.5px solid black;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: rgb(147, 143, 143);
  padding-top: 10px;
  padding-left: 5px;
  overflow: auto; 
}

.block-1,
.block-2,
.block-3,
.block-4,
.block-5,
.block-6,
.block-7,
.block-8,
.block-9,
.block-10,
.block-11 {
  width: 300px;
  height: 250px;
  border: 0.5px solid black;
  border-radius: 30px;
  background: rgb(13, 174, 228);
  padding: 30px 10px 20px 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  box-shadow: inset 0 0 6px black;
}
